{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK {{ serviceName }}
{% endblock %}

{% block header %}
<div style="position: relative;">

  <header class="govuk-header" role="banner" data-module="govuk-header">
    {{ govukHeader({
      productName: "Internal Access",
      serviceUrl: "/"
    }) }}
  </header>
  
  <div class="govuk-width-container" style="position: relative; height: 0;">
    <div style="position: absolute; right: 0px; top: -43px; z-index: 9999;">
      <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" style="color: white; text-decoration: none; font-size: 19px;">Sign out</a>
    </div>
  </div>

  {% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

  {{ govukServiceNavigation({
    navigation: [
      {
        href: "/dashboard/iteration/manage-access-services/apps",
        text: "Apps"
      },
      {
        href: "/dashboard/iteration/manage-access-services/manage-apps",
        text: "Manage app clients",
        active: true
      },
      {
        href: "#",
        text: "Profile"
      },
      {
        href: "#",
        text: "Support"
      }
    ]
  }) }}

  {{ govukPhaseBanner({
    tag: {
      text: "Private Beta"
    },
    html: 'This is a new service - your <a class="govuk-link govuk-link--no-visited-state" href="#">feedback</a> will help us to improve it.'
  }) }} 

</div>
{% endblock %}



{% block content %}
<div class="govuk-width-container ">
  <a href="../manage-apps" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper govuk-!-padding-top-4">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">App details</h1>
        <h2 class="govuk-heading-m">About the app</h2>

        <div class="govuk-form-group">
          <label class="govuk-label" for="app-name"> App name </label>
          <div id="app-name-hint" class="govuk-hint">This name appears in the dashboard.</div>
          <input class="govuk-input" id="app-name" name="appName" type="text" aria-describedby="app-name-hint"></input>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="app-url"> App URL </label>
          <div id="app-url-hint" class="govuk-hint">The main website address that appears in the dashboard.</div>
          <input class="govuk-input" id="app-url" name="appUrl" type="text" aria-describedby="app-url-hint"></input>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="app-description"> App description (optional) </label>
          <div id="app-description-hint" class="govuk-hint">A short description that appears in the dashboard.</div>
          <textarea class="govuk-textarea" id="app-description" name="appDescription" rows="3"></textarea>
        </div>

        <h2 class="govuk-heading-m govuk-!-padding-top-5">Who can manage the app</h2>

        <div class="govuk-form-group">
          <label class="govuk-label" for="app-description"> App managers </label>
          <div id="app-description-hint" class="govuk-hint">You are a manager by default. Managers can update settings and control access to the app. Enter one email address on each line.</div>
          <textarea class="govuk-textarea" id="app-description" name="appDescription"
            rows="3">your.name@email.gov.uk</textarea>
        </div>

        <div class="govuk-button-group">
          <a href="sign-in-settings.html" type="submit" class="govuk-button" data-module="govuk-button">
            Continue </a>
          <a href="../manage-apps" type="submit" class="govuk-button govuk-button--secondary"
            data-module="govuk-button"> Cancel setup </a>
        </div>


      </div>
    </div>
  </main>
</div>


{% endblock %}