{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK {{ serviceName }} 
{% endblock %}

{% block header %}
  <header>
    {{govukHeader()}}
    {{ govukPhaseBanner({
      tag: {
        text: "Private Beta"
      },
      html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </header>
{% endblock %}

{% block containerStart %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Internal Access",
        href: "/live-service/internal-access"
      },
      {
        text: "Sign In",
        href: "/live-service/sign-in"
      },
      {
        text: "Code"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

<!-- ERROR MESSAGE SUMMARY TEMPLATE - UNCOMMENT TO USE
{% if data['codeError'] %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: [
      {
        text: "Enter the one-time code",
        href: "#event-name"
      }
    ]
  }) }}
{% endif %}
-->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      Email One-time Code
    </h1>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
            You're signing in to Civil Service Jobs
        </strong>
    </div>

    
  <form action="/live-service/code-check" method="post">
    
    {{ govukInput({
  label: {
    html: 'We\'ve emailed <span class="app-email-display">' + (data['emailAddress'] or 'email@address.gov.uk') + '</span> a one-time code',
    classes: "p",
    isPageHeading: false
  },
  id: "event-name",
  name: "eventName",
  classes: "govuk-input--width-10",
  errorMessage: {
    text: "That appears to be wrong, please try again"
  } if data['codeError'], 
  attributes: {
    placeholder: "e.g. 123-456-789"
  }
}) }}

    <div class="govuk-button-group">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </div>

</form>

</div>

{% endblock %}
