{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK {{ serviceName }}
{% endblock %}

{% block header %}
<div style="position: relative;">

  <header class="govuk-header" role="banner" data-module="govuk-header">
    {{ govukHeader({
      productName: "Internal Access",
      serviceUrl: "/"
    }) }}
  </header>
  
  <div class="govuk-width-container" style="position: relative; height: 0;">
    <div style="position: absolute; right: 0px; top: -43px; z-index: 9999;">
      <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" style="color: white; text-decoration: none; font-size: 19px;">Sign out</a>
    </div>
  </div>

  {% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

  {{ govukServiceNavigation({
    navigation: [
      {
        href: "/dashboard/iteration/manage-access-services/apps",
        text: "Apps"
      },
      {
        href: "/dashboard/iteration/manage-access-services/manage-apps",
        text: "Manage app clients",
        active: true
      },
      {
        href: "#",
        text: "Profile"
      },
      {
        href: "#",
        text: "Support"
      }
    ]
  }) }}

  {{ govukPhaseBanner({
    tag: {
      text: "Private Beta"
    },
    html: 'This is a new service - your <a class="govuk-link govuk-link--no-visited-state" href="#">feedback</a> will help us to improve it.'
  }) }} 

</div>
{% endblock %}



{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-!-padding-top-4">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Civil Service Jobs</h1>
        <p class="govuk-body">Configure the Civil Service Jobs client and connect it to your app.</p>

        <nav class="gem-c-secondary-navigation govuk-!-padding-top-4" aria-label="App management configuration">
          <ul class="gem-c-secondary-navigation__list">
            <li class="gem-c-secondary-navigation__list-item">
              <a class="gem-c-secondary-navigation__link" href="client-details.html">Client details</a>
            </li>
            <li class="gem-c-secondary-navigation__list-item">
              <a class="gem-c-secondary-navigation__link" href="app-details.html">App details</a>
            </li>
            <li class="gem-c-secondary-navigation__list-item">
              <a class="gem-c-secondary-navigation__link" href="signin-settings.html">Sign in settings</a>
            </li>
            <li class="gem-c-secondary-navigation__list-item">
              <a class="gem-c-secondary-navigation__link gem-c-secondary-navigation__link--current" href="access-settings.html" aria-current="page">Who can access the app</a>
            </li>
          </ul>
        </nav>

        <h2 class="govuk-heading-l govuk-!-padding-top-6">Who can access the app</h2>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Allowed email domains
            </dt>
            <dd class="govuk-summary-list__value">
              .gov.uk
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> allowed email
                  domains</span></a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Allowed email addresses
            </dt>
            <dd class="govuk-summary-list__value">
              No restrictions set
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> app
                  description</span></a>
            </dd>
          </div>

        </dl>

      </div>
    </div>
  </main>
</div>
{% endblock %}