{% extends "layouts/main.html" %}

{% block pageTitle %}
  Civil Service job search - Civil Service Jobs - GOV.UK
{% endblock %}

{% block header %}
  {{ govukHeader({
    serviceName: "Internal Access"
  }) }}
  {{ govukServiceNavigation({
    serviceName: "Civil Service Jobs",
    serviceUrl: "#",
    navigation: [
      { href: "/live-service/sign-out", text: "Sign out" }
    ]
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Civil Service job search</h1>
    
    <p class="govuk-body">Find jobs in the Civil Service and central government organisations.</p>

    
    <div class="app-search-container">
      <div class="govuk-grid-column-one-half">  
      {{ govukInput({
          label: { text: "What", classes: "govuk-label--m" },
          hint: { text: "Enter job title, skill or keywords" },
          id: "keywords",
          name: "keywords"
        }) }}
      </div>

      <div class="govuk-grid-column-one-half">  
      {{ govukInput({
          label: { text: "Where", classes: "govuk-label--m" },
          hint: { text: "Enter a postcode, town or region" },
          id: "keywords",
          name: "keywords"
        }) }}
      </div>
      
      <div class="govuk-grid-column-one-half">
        {{ govukButton({
          text: "Search for jobs",
          href: "#",
          classes: "govuk-!-margin-bottom-2"
        }) }}
        </div>
    </div>
    
    </div>
</div>
{% endblock %}