{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK {{ serviceName }} 
{% endblock %}

{% block header %}
  <header>
    {{ govukHeader({
      serviceName: "Internal Access",
      serviceUrl: "/"
    }) }}
      {% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

  {{ govukServiceNavigation({
  navigation: [
    {
      href: "/dashboard/branch/manage-access-services/apps",
      text: "Apps",
      active: true
    },
    {
      href: "/dashboard/branch/manage-access-services/manage-apps",
      text: "Manage app clients"
    },
    {
      href: "#",
      text: "Profile"
    },
    {
      href: "#",
      text: "Support"
    }
  ]
}) }}

<!--
    {{ govukPhaseBanner({
      tag: {
        text: "Private Beta"
      },
      html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }} -->
  </header>
{% endblock %}



{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Apps</h1>

        <h3 class="govuk-heading-s"><a class="govuk-link" href="https://ai.gov.uk/knowledge-hub/">AI Knowledge Hub</a></h3>
        <p class="govuk-body">Explore AI in government - find tools, explore approaches, improve delivery.</p>
      
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h3 class="govuk-heading-s"><a class="govuk-link" href="#">Civil Service Jobs</a></h3>
        <p class="govuk-body">Find jobs in the Civil Service and central government organisations.</p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h3 class="govuk-heading-s"><a class="govuk-link" href="#">CTM Portal</a></h3>
        <p class="govuk-body">Make new bookings or manage existing bookings.</p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h3 class="govuk-heading-s"><a class="govuk-link" href="#">Public Sector Sign in</a></h3>
        <p class="govuk-body">Sign in lets you sign in once to use internal UK government services.</p>

      </div>
    </div>
  </main>
</div>


{% endblock %}
