{% extends "layouts/main.html" %}

{% set pageName="Authentication" %}

{% block content %}

<main class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Sign in to the service
      </h1>

      <p class="govuk-body govuk-!-margin-bottom-8">Use this prototype to go through the sign-in and authentication
        journey.</p>

      <a href="/authentication/live-service/jobs/no-access" role="button" draggable="false"
        class="govuk-button govuk-button--start" data-module="govuk-button" target:="_blank" rel="noreferrer noopener">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
          viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Experiments and iterations</h2>
      <p class="govuk-body">Branching flows used to test specific ideas or user research hypotheses.</p>

      <!-- Hidden template card -->
      <div class="govuk-visually-hidden">
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Initiative name
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Phase
                </dt>
                <dd class="govuk-summary-list__value">
                  <strong class="govuk-tag govuk-tag--orange">
                    IN DESIGN
                  </strong>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Designers
                </dt>
                <dd class="govuk-summary-list__value">

                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Summary
                </dt>
                <dd class="govuk-summary-list__value">
                  <p>Summary information here</p>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Related information
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list govuk-list--bullet govuk-body govuk-!-margin-bottom-0">
                    <li><a class="govuk-link" href="">Any related links<span class="govuk-visually-hidden"></span></a>
                    </li>
                  </ul>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Last updated
                </dt>
                <dd class="govuk-summary-list__value">
                  Month and year
                </dd>
              </div>
            </dl>
          </div>
        </div>
        <a class="govuk-button govuk-body govuk-!-margin-bottom-0" data-module="govuk-button" href="#">View screens</a>
        <a class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" data-module="govuk-button"
          href="/#/service/customise">Customise</a>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </div>
      <!-- End of hidden card-->

      <!-- Experiments and iterations card -->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            UCD review of layout and content
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Phase
              </dt>
              <dd class="govuk-summary-list__value">
                <strong class="govuk-tag govuk-tag--orange">
                  IN DESIGN
                </strong>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Designers
              </dt>
              <dd class="govuk-summary-list__value">
                Daniel Teanby, Katherine Bhambra
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Summary
              </dt>
              <dd class="govuk-summary-list__value">
                <p>Updated layout to align with GOVUK navigation patterns and improved content to reduce
                  cognitive load.</p>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Related information
              </dt>
              <dd class="govuk-summary-list__value">
                <ul class="govuk-list govuk-list--bullet govuk-body govuk-!-margin-bottom-0">
                  <li><a class="govuk-link"
                      href="https://www.figma.com/design/b3qbJnH9gJRkLAWqhCYWqC/Internal-Access?node-id=144-7522&t=yCR5PageWpRpLfAg-1">View
                      Figma designs<span class="govuk-visually-hidden"></span></a></li>
                </ul>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Last updated
              </dt>
              <dd class="govuk-summary-list__value">
                May 2026
              </dd>
            </div>
          </dl>
        </div>
      </div>
      <a class="govuk-button govuk-body govuk-!-margin-bottom-0" data-module="govuk-button"
        href="./authentication/iteration/ucd-review/jobs/no-access.html">View screens</a>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    </div>

    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items">
        <h2 class="govuk-heading-s" id="support-title">Project resources</h2>
        <nav role="navigation" aria-labelledby="support-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="govuk-link"
                href="https://github.com/govuk-digital-backbone/internal-access-frontend-prototype">GitHub
                Repository</a>
            </li>
            <li>
              <a class="govuk-link"
                href="https://app.mural.co/t/octo5699/m/gdsservicetransformation7597/1768907305123/af5842fd9ca647b3786b8a9b1e0ab6b5166700e0?sender=u8e6f444cdad7dd7658694666"
                target="_blank">User Research Notes</a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>


</main>



{% endblock %}