{% extends "layouts/main.html" %}

{% set pageName="Authentication" %}

{% block content %}

<a href="index.html" class="govuk-back-link">Back to Internal Access prototypes</a>

<main class="govuk-main-wrapper" id="main-content">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Use the dashboard
      </h1>

      <p class="govuk-body govuk-!-margin-bottom-7">There is no main dashboard prototype yet. Use the versions below to
        explore work in progress designs.</p>

      <!--UNCOMMENT WHEN LIVE SERVICE PROTOTYPE IS AVAILABLE
      <a href="/authentication/live-service/jobs/no-access" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button" target:="_blank" rel="noreferrer noopener">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
          viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>
      -->

    </div>

    <div class="govuk-grid-column-full">
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </div>

    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4">

      <h2 class="govuk-heading-m">Experiments and iterations</h2>
      <p class="govuk-body govuk-!-margin-bottom-6">Branching flows used to test specific ideas or user research
        hypotheses.</p>

      <!-- Hidden template card -->
      <div class="govuk-visually-hidden">
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Initiative name
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Phase
                </dt>
                <dd class="govuk-summary-list__value">
                  <strong class="govuk-tag govuk-tag--orange">
                    IN DESIGN
                  </strong>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Designers
                </dt>
                <dd class="govuk-summary-list__value">

                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Summary
                </dt>
                <dd class="govuk-summary-list__value">
                  <p>Summary information here</p>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Related information
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list govuk-list--bullet govuk-body govuk-!-margin-bottom-0">
                    <li><a class="govuk-link" href="">Any related links<span class="govuk-visually-hidden"></span></a>
                    </li>
                  </ul>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Last updated
                </dt>
                <dd class="govuk-summary-list__value">
                  Month and year
                </dd>
              </div>
            </dl>
          </div>
        </div>
        <a class="govuk-button govuk-body govuk-!-margin-bottom-0" data-module="govuk-button" href="#">View
          screens</a>
        <a class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" data-module="govuk-button"
          href="/#/service/customise">Customise</a>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </div>
      <!-- End of hidden card-->

      <!-- Experiments and iterations card -->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            <a class="govuk-link govuk-link--no-visited-state"
              href="./dashboard/iteration/manage-access-services/apps.html">
              Self-service dashboard (early concept)
            </a>
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Phase
              </dt>
              <dd class="govuk-summary-list__value">
                <strong class="govuk-tag govuk-tag--orange">
                  IN DESIGN
                </strong>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Designers
              </dt>
              <dd class="govuk-summary-list__value">
                Daniel Teanby, Katherine Bhambra
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Summary
              </dt>
              <dd class="govuk-summary-list__value">
                <p> Exploring a self-service dashboard concept that would allow users to manage access to existing
                  services and create new clients.</p>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Related information
              </dt>
              <dd class="govuk-summary-list__value">
                <ul class="govuk-list govuk-list--bullet govuk-body govuk-!-margin-bottom-0">
                  <li><a class="govuk-link"
                      href="https://app.mural.co/t/octo5699/m/octo5699/1778666973260/528dbaafd9ae3d7b94c4e6e3a6b92b863b8282c4?sender=u8e6f444cdad7dd7658694666">View
                      wireframes in Mural<span class="govuk-visually-hidden"></span></a></li>
                </ul>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Last updated
              </dt>
              <dd class="govuk-summary-list__value">
                May 2026
              </dd>
            </div>
          </dl>
        </div>
      </div>


    </div>


  </div>


</main>



{% endblock %}