{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}
<main class="govuk-main-wrapper" id="main-content">

<!--
<div class="app-masthead govuk-!-padding-bottom-6 govuk-!-margin-bottom-6">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="app-masthead__title govuk-heading-xl govuk-!-margin-bottom-6">
          {{ serviceName }} prototypes
        </h1>
        
        <div class="app-masthead__description">
          <p class="govuk-body">This site contains prototypes for different parts of the <strong>{{ serviceName
              }}</strong> service</p>
        </div>
      </div>
    </div>
  </div>
</div>
-->


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }} prototypes
    </h1>

    <p class="govuk-body">This site contains prototypes for different parts of the {{ serviceName}} service. </p>
    <p class="govuk-body">Use it to test and demonstrate how the Internal Access service works, including key journeys and their iterations. </p>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-6 govuk-!-margin-top-8">Explore our service</h2>

  </div>

  <div class="govuk-grid-column-one-half govuk-!-margin-top-2">

    <div class="app-c-result-card">
      <h2 class="gem-c-heading govuk-heading-m govuk-!-margin-bottom-2">Sign in to the service</h2>
      <p>Go through the sign-in and authentication journey.</p>

      <h3 class="govuk-heading-s">
        <a href="/authentication" class="govuk-link govuk-link--no-visited-state">
          View authentication prototypes
        </a>
      </h3>
    </div>

  </div>

  <div class="govuk-grid-column-one-half">

    <div class="app-c-result-card govuk-!-margin-top-2">
      <h2 class="gem-c-heading govuk-heading-m govuk-!-margin-bottom-2">Use the dashboard</h2>
      <p>View and manage access after signing in.</p>

      <h3 class="govuk-heading-s">
        <a href="/dashboard" class="govuk-link govuk-link--no-visited-state">
          View dashboard prototypes
        </a>
      </h3>
    </div>





  </div>


  </main>

  {% endblock %}